<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>FF2eBook.com</title>
    <!--StylesSheets-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <!--JavaScripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="/javascripts/index.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>

    <% include menu %>

    <div class="container-fluid">
        <div id="status-text">Ready.</div>
        <div class="row"> <!-- Input URL -->
            <div class="col-md-offset-3 col-md-6 input-area">
                <form id="input-form">
                    <div class="form-group input-group">
                        <input type="url" class="form-control" id="input-text" placeholder="Fic URL">
                        <span class="input-group-btn">
                            <button id="fic-submit" type="submit" class="btn btn-default">Convert</button>
                        </span>
                    </div>
                    <!-- Options -->
                    <div class="input-options">
                        Filetype:
                        <select class="form-control" id="file-type">
                            <option <%= typeEpub %>>EPUB</option>
                            <option <%= typeMobi %>>MOBI</option>
                        </select>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="force-update"> Force Update.
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="auto-dl" <%= autoDL %>> Automatically download when ready.
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="send-email" <%= sendEmail %>> Send as Email
                            </label>
                        </div>
                        <input type="email" class="form-control" id="email-address" placeholder="Email" value="<%= emailAddress %>">
                    </div>
                    <div id="email-sent"></div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
